<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="ARVATOMODULES">
        <MAINMENU id="AFTERPAY_TITLE">
            <SUBMENU id="SHOP_MODULE_GROUP_arvatoAfterpayGeneral" cl="AfterpayConfig" list="AfterpayConfigList">
                <TAB id="AFTERPAY_SETTINGS" cl="AfterpayConfigTab"/>
            </SUBMENU>
            <SUBMENU id="SHOP_MODULE_GROUP_arvatoAfterpayApi" cl="AfterpayApi" list="AfterpayApiList">
                <TAB id="SHOP_MODULE_GROUP_arvatoAfterpayApi" cl="AfterpayApiTab"/>
            </SUBMENU>
            <SUBMENU id="SHOP_MODULE_GROUP_arvatoAfterpayRequiredFields" cl="AfterpayRequiredfields" list="AfterpayRequiredfieldsList">
                <TAB id="SHOP_MODULE_GROUP_arvatoAfterpayRequiredFields" cl="AfterpayRequiredfieldsTab"/>
            </SUBMENU>
            <SUBMENU id="SHOP_MODULE_GROUP_arvatoAfterpayProfileTracking" cl="AfterpayProfileTracking" list="AfterpayProfileTrackingList">
                <TAB id="SHOP_MODULE_GROUP_arvatoAfterpayProfileTracking" cl="AfterpayProfileTrackingTab"/>
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>